*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../images/bg.png) no-repeat center 25px;
    background-size: 1030px 850px;
    /* background-color: black; */
}
#map{
    width: 810px;
    height: 600px;
    background-color: transparent;
    position: relative;
    box-sizing: border-box;
   /* left: 23%; */
    top: 120px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(187,184,184);
    border-radius: 5px;
    background-image:linear-gradient(rgba(255,255,255,0.3) 1px,transparent 0),
    linear-gradient(90deg,rgba(255,255,255,0.3) 1px,transparent 0);

    background-size: 30px 30px;
}

.btnlist{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 150px;
}